@import "tailwindcss";

html,
body,
#root {
  background: #0a0a0a;
  min-height: 100%;
}

body {
  font-family:
    Inter,
    sans-serif;
}

.glass {
  background:
    rgba(
      255,
      255,
      255,
      0.05
    );

  backdrop-filter:
    blur(20px);

  border:
    1px solid
    rgba(
      255,
      255,
      255,
      0.08
    );
}

.gradient-text {
  background:
    linear-gradient(
      to right,
      #ffffff,
      #7dd3fc
    );

  -webkit-background-clip:
    text;

  -webkit-text-fill-color:
    transparent;
}